.parentgu{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(10,1fr);
}

.GuestUpload{
    max-width: 450px;
    min-height: 200px;
    grid-row: 4/8;
    grid-column: 2/12;
}
h1{
    font-size: 48px;
}
