@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.parentg{
    
    display: grid;
    height: 100%;
    grid-template-rows: repeat(10,1fr);
    grid-template-columns: repeat(12,1fr);

}
.Guest{
    font-family: Poppins;
    grid-row: 4/7;
    grid-column: 2/12;
    max-width: 350px;

}
