@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-image: linear-gradient(to top,#DCF2F1,#7FC7D9); /* Escape the backslash */
    /* background: fixed; */
    /* display: flex; */
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding-top : 80px ;
    font-family: 'Poppins';
    overflow-x: hidden;
    overflow-y: auto; /* Add this to hide horizontal overflow */
}
  
  @keyframes rolling {
    to {
      transform: rotate(-360deg);
    }
  }
  
  @keyframes road-move {
    from {
      transform: translateX(-140%);
    }
  
    to {
      transform: translateX(100%);
    }
  }
  