/* #LoginDiv{
    position: relative;
    left: 80%;
    top: 35%;
}
#LoginTitle{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    
}
#LoginSelect{
    position: relative;
    margin-top: 4vw;
}
#toll-ids{
    background-color: rgb(33, 31, 31);
    color: white;
    width: 40%;
}
#LoginPwd{
    margin-bottom: 1vw;
}

#LoginSubmit{
    position: relative;
    margin-top: 2.6vw;
    left: 30%;
}
.b{
    font-size: x-small;
    margin-top: 3vw;
}
#pwd::placeholder{
    color: white;
} */