/* #TollLog{
    position: relative;
    top: 13vh;
    left: 6vw;
}

#buttons4{
    position: relative;
    left: 40vh;
    top: 40vh;
}

#button1{
    width: 15vw;
    position: relative;
}
#button2{
    position: relative;
    left: 4vh;
    width: 15vw;
}
#button3{
    width: 15vw;
    position: relative;
    top: 3vw;
}
#button4{
    position: relative;
    left: 4vh;
    width: 15vw;
    top: 3vw;
}
#b1{
    margin-left: 4vw;
}
#b2{
    margin-left: 2.5vw;
}
#b3{
    margin-left: 7vw;
}
#b4{
    margin-left: 9vw;
} */